# Ignore node modules
node_modules/

# Ignore html files
*.html

# Igonre Scss files not related to src files
assets/scss/*
!assets/scss/animation
!assets/scss/sengab-animation*

# Igonre css files not related to src files
assets/css/*
!assets/css/sengab-animation*
